<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment app</title>
    <link rel="stylesheet" href="/css/appointment.css">
</head>
<body>
    <div id="booking">
        <h1>Booking Appointment</h1>   
        <form class="form" action="/appointment/post-appointment">   
                
                <input class="input" type="text" id="name" placeholder="Enter name"  name="name">    
                
                <input class="input" type="email" id="email" placeholder="Enter Email"  name="email" >    
               
                <input class="input" type="number" id="number" placeholder="Enter phone number"  name="phone"> 
                
                <button class="btn" type="submit" id="button"> Submit </button>
                
            
        </form>
    </div>
    <div id="appointments">
        <h2>Appointments</h2>
       <ul class="list" id="ul"></ul>
    </div> 
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>